* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
  body {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
   
  h1 {
    color: SeaGreen;
    font-size: 26px;
  }
   
   
  p, li {
    font-size: 18px;
  }
   
  p li {
    text-align: left;
    font-size: 16px;
  }
   
  a {
    text-decoration: none;
  }